<p id="weatherDescription">{{openweathermapProvider.weatherDescription}}</p>
<p id="weatherGroup">{{openweathermapProvider.weatherGroup}}</p>
<p id="temperature">Current temperature: {{openweathermapProvider.temperature}}°</p>
<p id="windSpeed">Wind speed: {{openweathermapProvider.windSpeed}} Km/h</p>
<p id="humidity">Humidity: {{openweathermapProvider.humidity}}%</p>
<p id="maxTemp">Max temperature: {{openweathermapProvider.minTemp}}°</p> 
<p id="minTemp">Min temperature: {{openweathermapProvider.maxTemp}}°</p> 
<p id="pressure">Atmospheric pressure: {{openweathermapProvider.athmosphericPressure}} hPa</p>
