openweathermap {
	.content-box {
		background-color:#f6f6f6;
		font-family: 'Open Sans', sans-serif;
		font-size:1.5rem;
	}
	#weatherDescription {

	}
	#weatherGroup {

	}

	#temperature {

	}

	#windSpeed {

	}

	#humidity {

	}

	#maxTemp {

	}

	#minTemp {

	}

	#pressure {

	}	
}
